/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body{
    background-color: #515b69 !important;
}

/* MAIN HEADER SECTION */

#index-header-section {
    background-image: url(../images/index-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100vh;
}

#index-header-section::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #202020;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}


.main-content .common-sub-title{
    margin-top: 39px;
}

.main-content .index-title{
    font-family: 'Roboto', sans-serif;
} 

.main-content .common-sub-title h3{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.main-content {
    text-align: center;
    color: white;
    margin-top: 135px;
    position: relative;
}


/* HEADER BUTTON SECTION */

.header-button .btn{
    background-color: #3c5763;
    border-radius: 18%;
    color: white;
}

.header-button .btn:hover{
    border-radius: 30% !important;
    background-color: transparent !important; 
    color: white;
    border-color: gray;
    transition: ease-in 0.4s;
}

.header-button{
    margin-top: 50px;
}



/* NAVIGATION SECTION */

.navbar-light .navbar-nav .nav-link{
    color: white !important;
    margin-right: 15px !important;
}

.navbar{
    padding: 38px !important;
}


/* ABOUT ME SECTION */

#aboutMe-section .aboutMe-title {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 500;
    padding-top: 20px;
    color: #fefefe;
}

#aboutMe-section .aboutMe-title::before {
    content: '';
    background-color: #1f226f;
    height: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 50%;
}

#aboutMe-section .aboutMe-title::after {
    content: '';
    background-color: #5a64b7;
    height: 9px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    display: block;
    transform: translateY(0px);
    text-shadow: 11px 13px 11px black, 0 0 13px blue, 0 0 13px darkblue;
    border-radius: 50%;
}


#aboutMe-section .col-md-6{
    text-align: center !important;
}

#aboutMe-section .col-md-6 p{
    margin: 30px !important;
    font-family: 'Lora', serif;
    color: #fefefe;
}

#aboutMe-section .col-md-6 img{
    border-radius: 40% !important;
    border-color: 3px black !important;
}



